body {
  background: linear-gradient(
    180deg,
    rgba(183, 166, 246, 1) 0%,
    rgba(240, 161, 214, 1) 100%
  );
  display: flex;
  font-family: montserrat;
}

.menubar {
  border-radius: 25px;
  width: 287px;
  height: 155px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  align-items: center;
  justify-content: space-between;
}

.menubar a {
  margin-bottom: 10px; /* Adjust the value to your desired spacing */
}
