body {
  background: linear-gradient(
    180deg,
    rgba(183, 166, 246, 1) 0%,
    rgba(240, 161, 214, 1) 100%
  );
  display: flex;
  font-family: montserrat;
}

.menubar {
}

.menubar a {
  margin-bottom: 10px; /* Adjust the value to your desired spacing */
}
