.about-me-section {
  margin-bottom: 50px; /* Adjust the value as needed */
}

.about-me-container {
  display: flex;
  align-items: flex-start; /* Align items to the top */
  justify-content: space-between;
  padding: 20px;
  flex-wrap: wrap; /* Allows the items to wrap if needed */
}

.about-me-image,
.about-me-text {
  flex: 1 1 auto; /* Allows the items to grow and shrink as needed */
  margin: 10px; /* Adds some space around the image and text */
}

.about-me-image img {
  width: 50%;
  height: auto;
}

.about-me-text {
  width: 50%;
  padding-left: 20px;
}

@media (max-width: 768px) {
  .about-me-container {
    flex-direction: column;
  }

  .about-me-image img,
  .about-me-text {
    width: 100%;
    margin: 10px 0; /* Adds vertical margin on smaller screens */
  }

  .about-me-image img {
    align-items: center;
  }
}
