* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: linear-gradient(#dba3e1, #dfa2df, #e3a2dd);
}

.contact-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 20px;
}

.contact-left-title h2 {
  font-weight: 600;
  color: black;
  font-size: 40px;
  margin-bottom: 5px;
}

.contact-left-title hr {
  border: none;
  width: 120px;
  height: 5px;
  background-color: black;
  border-radius: 10px;
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  justify-content: flex-end; /* Aligns items to the right */
  gap: 10px; /* Adjust the gap as needed */
}

.contact-inputs {
  max-width: 400px;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  background: #d9d9d9;
  font-weight: 500;
}

.contact-inputs::placeholder {
  color: black;
}

.contact-left textarea {
  width: 580px; /* Set width */
  height: 268px; /* Set height */
  padding-top: 15px;
  border-radius: 20px;
  background: #d9d9d9;
}

.contact-inputs:focus {
  border: 2px solid;
}

.contact-left button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-size: 16px;
  color: black;
  gap: 10px;
  border: none;
  border-radius: 50px;
  background: #d9d9d9;
  cursor: pointer;
}

.contact-left button img {
  height: 15px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .contact-inputs,
  .contact-textarea {
    width: 50%; /* Keep inputs full width on smaller screens */
    font-size: 14px; /* Adjust font size if necessary */
  }
}

@media (max-width: 480px) {
  .contact-inputs,
  .contact-textarea {
    width: 100%; /* Keep inputs full width on the smallest screens */
    font-size: 12px; /* Further reduce font size for even smaller screens */
  }
}
