header {
  z-index: 99999;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(20px);
  transition: 0.6s ease;
}

header.sticky {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 20px rgb(0 0 0/10%);
}

.nav-bar {
  position: relative;
  height: calc(4rem + 1rem);
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  transition: 0.6s ease;
}

header.sticky .nav-bar {
  height: calc(2.5rem + 1rem);
}

.nav-bar .logo {
  color: black;
  font-size: 1.3em;
  font-weight: 600;
}

.nav-items a:not(:last-child) {
  margin-right: 50px;
}

.nav-items a:hover {
  color: #6a59d1;
}

.nav-menu-btn {
  display: none;
}
