.skills-page {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  align-items: center;
}

.skills-page img {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
}

hr {
  border-left: 1px solid #080808; /* Adjust color and thickness as needed */
  height: 100%; /* Adjust height as needed */
}

.frontend-skills,
.backend-skills {
  flex: 1;
  margin: 0 10px;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
}

i {
  margin-right: 5px;
}
