footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(#e3a2dd, #e6a2db, #eaa1d9, #eaa1d9);
  width: 100%;
  margin-top: 50px;
  padding: 3rem 2rem;
  color: #fff;
}

footer a {
  color: #fff;
  text-decoration: none;
}
.info div,
.follow div {
  display: inline-block; /* Display links inline */
  margin-right: 10px; /* Add some spacing between links */
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1150px;
}

.footer-container .about h2 {
  font-size: 3em;
  font-weight: 600;
  background: linear-gradient(to top, transparent 0%, #fff 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.8;
}

.footer-container .about p {
  font-size: 1em;
  font-weight: 300;
  margin-bottom: 30px;
}

.footer-container .info,
.footer-container .follow {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-container .info a,
.footer-container .follow a {
  margin: 10px; /* Adjust spacing between links */
}

.footer-container .info h3,
.footer-container .follow h3 {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 30px;
}

.footer-container .info ul,
.footer-container .follow ul {
  display: flex;
  flex-wrap: wrap; /* Ensure the links wrap onto multiple lines if necessary */
  justify-content: center;
}

.footer-container .info a {
  margin: 20px;
}

.footer-container .follow a {
  font-size: 1.5em;
  margin: 20px;
}

.footer-copyright p {
  font-size: 1em;
  font-weight: 300;
  margin-top: 50px;
}

/*    Media query max-width 1070px    */
@media screen and (max-width: 1070px) {
  /*      Header navigation menu   */

  .navigation {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.1);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease;
  }

  .navigation.active {
    visibility: visible;
    opacity: 1;
  }

  .nav-items {
    position: relative;
    background: #fff;
    width: 600px;
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgb(0 0 0/10%);
    transform: translateY(0);
    transition: 0.3s ease;
  }

  .nav-items a {
    margin: 15px 50px;
  }

  .nav-close-btn {
    position: absolute;
    background: url(images/close-btn.png) no-repeat;
    filter: invert(1);
    background-size: 12px;
    background-position: center;
    width: 40px;
    height: 40px;
    top: 10px;
    right: 10px;
    margin: 10px;
    cursor: pointer;
    z-index: 2;
  }

  .nav-menu-btn {
    background: url(images/menu-btn.png) no-repeat;
    filter: invert(1);
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: block;
  }

  /*    FOOTER SECTION    */

  footer .footer-container {
    flex-direction: column;
  }

  .footer-container .about,
  .footer-container .info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
  }
  .footer-container .info ul {
    align-items: center;
    flex-direction: column;
  }

  .footer-container .info ul li {
    margin: 5px 0;
  }
  .footer-container .hr {
    width: 100%;
    height: 2px;
    background: rgba(255, 255, 255, 0.1);
    margin: 10px 0 22px;
  }
}

@media screen and (max-width: 768px) {
  .footer-container .info a,
  .footer-container .follow a {
    margin: 5px; /* Reduce spacing between links on smaller screens */
  }
}

@media screen and (max-width: 375px) {
}
